---
title: 2022
layout: essays.njk
---
{% set year = 2022 %}
<main id="main-content" class="page container">
    {% set herotext = title %}
    {% include 'components/hero.njk' %}
    <section class="page__content flow">
        {% for class in y2022.classes %}
            <h2>
            {{ class.code }}
            </h2>
            <p class="lead">Årets gymnasiearbeten på {{ class.program }}.</p>
            <section class="studentcards">
                {% for student in class.students | randomize %}
                    {% include 'components/student-card.njk' %}
                {% endfor %}
            </section>
        {% endfor %}
    </section>
</main>