---
layout: base.njk
---

<main id="main-content" class="page container">
    {% include 'components/hero.njk' %}
    <section class="page__content flow">
        <p class="lead">Vi skriver gymnasiearbeten.</p>
        <p class="lead">Målet med den här sidan är att dokumentera, spara och visa upp
            elevernas arbeten.
        </p>
        <p class="lead">Från oss lärare, <a href="mailto:frej.frykholm@ntig.se">Frej</a> och <a href="mailto:jens.andreasson@ntig.se">Jens</a>, till er alla, hoppas ni hittar något kul och inspirerande!</p>
        <div class="page__button-container">
            <a href="/{% year %}" class="button">Ta mig till årets arbeten!</a>
        </div>
    </section>
</main>
