---
layout: base.njk
---

<main id="main-content" class="page container">
    {% include 'components/hero.njk' %}
    <section class="page__content flow">
        <p class="lead">Här på {{ meta.school }} så har vi lärare tillsammans med 
            eleverna arbetat hårt för att höja kvaliten på de gymnasiearbeten
            eleverna skriver under årskurs tre. Vi lärare känner att det är ett
            viktigt arbete för att förbereda eleverna på kommande studier och/eller arbete.</p>
        <p class="lead">Det är ett tuff och svårt arbetet men vi känner att det är 
            mödan värt med stolta elever och bra arbeten.
        </p>
        <p class="lead">Vi vill med den här webbplatsen visa upp, spara och dokumentera elevernas texter.
        </p>
        <div class="page__button-container">
            <a href="/{% year %}" class="button">Ta mig till årets arbeten!</a>
        </div>
    </section>
</main>
